
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Dirty Dozen</title>

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
			<link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css">
			<link rel="stylesheet" type="text/css" href="/styles/admin.css">
			<link rel="stylesheet" href="../styles/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



			<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	</head>
	<body>
		<div class="row">
			<div class="large-12 columns">
				<div class="row">
					<div class="large-12 columns">
						<nav class="top-bar" data-topbar>
							<ul class="title-area">
								<li class="name">
									<h1><a href="/">Dirty Dozen</a></h1>
								</li>
								<li class="toggle-topbar menu-icon">
									<a href="#"><span>menu</span></a>
								</li>
							</ul>
							<section class="top-bar-section">
								<ul class="right">
									<li class="divider"></li>
									<li><a href="#">User 1</a></li>
									<li class="divider"></li>
									<li><a href="/admin" class='adminlink'>Admin</a></li>
									<li class="divider"></li>
									<i id="cart" class="fa fa-shopping-cart" aria-hidden="true"></i>
								</ul>
							</section>
						</nav>
					</div>
				</div>
				<div class='admintable'>
				<H2> DOUGHNUTORY ORDER HISTORY </H2>
					<table style='width:100%'>
						<tr>
							<th>DATE</th>
							<th>USER NAME</th>
							<th>ITEMS</th>
							<th>PRICE</th>
						</tr>
						</table>
				<footer class="row">
					<div class="large-12 columns">
						<hr>
							<div class="row">
								<div class="large-6 columns">
									<p>© Copyright ACE Database 2017</p>
								</div>
							</div>
					</div>
				</footer>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
		<script>
      $(document).foundation();
    </script>
	</body>
</html>
