
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Dirty Dozen</title>

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
			<link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css">

      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


			<link rel="stylesheet" type="text/css" href="/styles/items.css">
			<link rel="stylesheet" href="/styles/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="/styles/popup.css">


	</head>

	<body>

  <div id="checkout-popup" class="popup">
    <h3 class="popup-header">Checkout</h3>
    <ul class="item-selection"></ul>
    <input class="checkout-button" type="submit" value="Confirm">
  </div>

		<div class="row">
			<div class="large-12 columns">
				<div class="row">
					<div class="large-12 columns">
						<nav class="top-bar" data-topbar>
							<ul class="title-area">
								<li class="name">
									<h1><a href="/">Dirty Dozen</a></h1>
								</li>
								<li class="toggle-topbar menu-icon">
									<a href="#"><span>menu</span></a>
								</li>
							</ul>
							<section class="top-bar-section">
								<ul class="right">
									<li class="divider"></li>
									<li><a href="">User 1</a></li>
									<li class="divider"></li>
									<li><a href="#">User 2</a></li>
									<li class="divider"></li>
									<li><a href="/admin">Admin</a></li>
									<li class="divider"></li>
									<i id="cart" class="fa fa-shopping-cart" aria-hidden="true"></i>
								</ul>
							</section>
						</nav>
					</div>
				</div>
				<div class="row">
					<ul class="menu menu-hover-lines">
						<li>
							<a href="#Doughnuts" class="DoughnutsHorchata">doughnuts </a>
							<span class = "DoughnutSymbol"> ◎ </span>
							<a href="#Horchata" class="DoughnutsHorchata"> horchata</a>
						</li>
					</ul>
					<div class="large-8 columns">
					  <a name="Doughnuts"></a>
						<div class="row">
							<div id="d1" class="large-4 small-6 columns">
								<img src="../images/doughnutpictures/avalanche-crunch.png">
								<div class="panel">
									<h5>Avalanche Crunch</h5>
										<h6 class="subheader">$9</h6>
								</div>
							</div>
							<div id='d2' class="large-4 small-6 columns">
								<img src="../images/doughnutpictures/banana-cream.png">
								<div class="panel">
									<h5>Banana Cream</h5>
										<h6 class="subheader">$9</h6>
								</div>
							</div>
							<div id='d3' class="large-4 small-6 columns">
								<img src="../images/doughnutpictures/chocolate-banana.png">
								<div class="panel">
									<h5>Chocolate Banana</h5>
										<h6 class="subheader">$9</h6>
								</div>
							</div>
							<div id='d4' class="large-4 small-6 columns">
								<img src="../images/doughnutpictures/chocolate-crunch.png">
								<div class="panel">
									<h5>Chocolate Crunch</h5>
										<h6 class="subheader">$9</h6>
								</div>
							</div>
							<div id='d5' class="large-4 small-6 columns">
								<img src="../images/doughnutpictures/peanut-butter.png">
								<div class="panel">
									<h5>Peanut Butter</h5>
										<h6 class="subheader">$9</h6>
								</div>
							</div>
							<div id='d6' class="large-4 small-6 columns">
								<img src="../images/doughnutpictures/red-devil.png">
								<div class="panel">
									<h5>Red Devil</h5>
										<h6 class="subheader">$9</h6>
								</div>
							</div>
							<div id='d7' class="large-4 small-6 columns">
								<img src="../images/doughnutpictures/samoa.png">
								<div class="panel">
									<h5>Samoa</h5>
										<h6 class="subheader">$9</h6>
								</div>
							</div>
							<div id='d8' class="large-4 small-6 columns">
								<img src="../images/doughnutpictures/smore.png">
								<div class="panel">
									<h5>Smore</h5>
										<h6 class="subheader">$9</h6>
								</div>
							</div>
							<div id='d9' class="large-4 small-6 columns">
								<img src="../images/doughnutpictures/snickers.png">
								<div class="panel">
									<h5>Snickers</h5>
										<h6 class="subheader">$9</h6>
								</div>
							</div>
							<div id='d10' class="large-4 small-6 columns">
								<img src="../images/doughnutpictures/strawberry.png">
								<div class="panel">
									<h5>Strawberry</h5>
										<h6 class="subheader">$9</h6>
								</div>
							</div>
							<div id='d11' class="large-4 small-6 columns">
								<img src="../images/doughnutpictures/strawberry-ice.png">
								<div class="panel">
									<h5>Strawberry Ice</h5>
										<h6 class="subheader">$9</h6>
								</div>
							</div>
							<div id='d12' class="large-4 small-6 columns">
								<img src="../images/doughnutpictures/twix-chocolate.png">
								<div class="panel">
									<h5>Twix Chocolate</h5>
										<h6 class="subheader">$9</h6>
								</div>
							</div>
              <a name="Horchata"></a>
							<div id="d13" class="large-4 small-6 columns">
								<img src="../images/drinks/coffee1.png">
									<div class="panel">
										<h5>Horchata</h5>
										<h6 class="subheader">$12</h6>
									</div>
							</div>
							<div id="d14" class="large-4 small-6 columns">
								<img src="../images/drinks/coffee2.png">
									<div class="panel">
										<h5>Strawchata</h5>
										<h6 class="subheader">$12</h6>
									</div>
							</div>
							<div id="d15" class="large-4 small-6 columns">
								<img src="../images/drinks/coffee3.png">
									<div class="panel">
										<h5>Coconut Horchata</h5>
										<h6 class="subheader">$12</h6>
									</div>
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<div class="footer-panel">
									<div class="row">
										<div class="large-2 small-6 columns"><img src="https://placehold.it/300x300&amp;text=Site%20Owner">
										</div>
										<div class="large-10 small-6 columns">
											<strong>This site is managed by ACE Database
											</strong>
											<hr>
												Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="row">
					<div class="large-12 columns">
						<hr>
							<div class="row">
								<div class="large-6 columns">
									<p>© Copyright ACE Database 2017</p>
								</div>
							</div>
					</div>
				</footer>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
		<!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-popup-overlay/1.7.9/jquery.popupoverlay.js"></script>
		<script type="text/javascript" src="/scripts/app.js"></script>
		<script>
      $(document).foundation();
    </script>
	</body>
</html>
