
body {
  font-family: 'Raleway', sans-serif !important;
}

.admintable {
font-family: 'Raleway', sans-serif;
}

.top-bar .name h1 a{
  font-family: 'Raleway', sans-serif
}

.top-bar .title-area {
  font-family: 'Raleway', sans-serif;
}


.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: white;
  color: gray;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: grey;
}

.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
  border-right: solid 1px white;
}

.top-bar{
  background-color: grey;
  height: 4rem;
}

.row {
  max-width: 80%;
}

/* LINKS */
i{
  color: grey;
  height: 100px;
  padding-left: 20px;
}

i.fa {
  font-size:30px;
  padding-right: 25px;
  padding-top: 5px
}

h1 {
  padding: 10px 0px 0px 10px;
}

ul.right {
  padding-top: 10px;
}

li.divider {
  height: 2.75rem;
}

.adminlink {
  padding:20px;
}

.admintable {
  margin: 10px 80px 30px 80px;
}

div.footer-panel-top {
  padding: 30px 15px 0 15px;
}

div.footer-panel {
  border: 2px solid;
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 0 ;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Raleway', sans-serif;
}
