body {
  font-family: 'Raleway', sans-serif !important;
}

#heart {
    display: inline-block; /* added */
    overflow: hidden; /* added */
    height: 200px;
}


#heart:active {
    opacity: 1; /* added */
    top: 25%; /* added */
    z-index: 500;
    color: pink;
    font-size: 400%;
}


/* added */
#heart:hover span {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
/* added */
#heart {
    display: block;
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: white;
  color: #FF847C;

}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: #FF847C;
}


.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
  border-right: solid 1px white;
}

.top-bar{
 background-color: #FF847C;
}

.row {
  max-width: 80%;
}

.large-8 {
  width: 100%;
  padding: 35px 50px 50px;
}

.large-4 {
  padding: 10px 25px;
}

/* LINKS */
#cart{
  color: white;
  height: 100px;
  padding-left: 20px;
}

i.fa {
  font-size:30px;
  padding-right: 25px;
  padding-top: 5px

}

h1 {
  padding: 10px 0px 0px 10px;
}

.top-bar {
  height: 4rem;
}
ul.right {
  padding-top: 10px;
}

li.divider {
  height: 2.75rem;
}

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
  list-style-type: none;
  padding-top: 50px;
  font-size: 3em;
}

.menu-hover-lines li a.DoughnutSymbol {
  color: rgba(10, 10, 10, 0.5);
}

.DoughnutSymbol{
  color: #67e2d5;
}

.menu-hover-lines li a.DoughnutsHorchata {
  padding: 0.75rem 0;
  padding-right: 30px;
  padding-left: 30px;
  color: #FF847C;
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #67e2d5;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

img {
  opacity:1;
  height: 200px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.large-4.small-6.columns:hover h5{
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #67e2d5;
}

.large-4.small-6.columns:hover img{
  opacity: .5;
}


.large-4.small-6.columns h5, h6{
  font-family: 'Raleway', sans-serif;
}


.top-bar .name h1 a{
  font-family: 'Raleway', sans-serif
}


div.panel {
  text-align: center;
  border: 0px;
  background: white;
}

div.footer-panel {
  border: 2px solid;
  padding: 10px 10px 0px 10px;
  margin: 0 0 0 0 ;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: #0a0a0a;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}

div.footer-panel{
  padding: 30px 10px 0px 10px;
  border-top: 2px solid #FF847C;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

.large-10.small-6.columns hr {
  border: solid #67e2d5;
  border-width: 2px 0 0;
}

.large-12.columns hr {
  border: solid #FF847C;
  border-width: 2px 0 0;
}
