.popup {
  display: none;
}

.popup {
  background: #f6f6f6;
  border-radius: 10px;
  border: 2px solid;
  width: 400px;
  padding: 0.8em;
}

.popup .popup-header {
  text-align: center;
  text-decoration: underline;
}

.popup .checkout-button {
  float: right;
}