.popup {
  display: none;
}

.popup {
  background:#FFAAA6;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ffD3B5;
  margin-top: 40px;
  width: 300px;
  font-family: 'Raleway', sans-serif;
}

.popup .popup-header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.item-selection{
  color: white;
}

.popup .checkout-button {
  float: right;
  background-color: #FDD2B5;
  border: 3px #FBA100;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  border-radius: 20px;
}

.popup .checkout-button:hover{
  background-color: white;
  color:#FDD2B5;
}

.popup .empty-button:hover{
  background-color: white;
  color:#FDD2B5;
}

.popup .empty-button {
  background-color: #FDD2B5;
  border: 3px #FBA100;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  border-radius: 20px;
  float: left;
}
