h1 {
  padding: 10px 0px 0px 10px;
}

.top-bar {
  height: 4rem;
  margin-bottom: 50px;

}

i{
  color:white;
  height: 100px;
  padding-left: 20px;
}

i.fa {
  font-size:30px;
  padding-right: 25px;
  padding-top: 5px

}

ul.right {
  padding-top: 10px;
}

li.divider {
  height: 2.75rem;
}

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
  list-style-type: none;
  padding-top: 50px;
  font-size: 3em;
}