.row {
  max-width: 80%;
}

.row .row {
}

.large-8 {
  width: 100%;
  padding: 35px 50px 50px;
}

.large-4 {
  padding: 10px 25px;
}

/* LINKS */
i{
  color:white;
  height: 100px;
  padding-left: 20px;
}

i.fa {
  font-size:30px;
  padding-right: 25px;
  padding-top: 5px

}

h1 {
  padding: 10px 0px 0px 10px;
}

.top-bar {
  height: 4rem;
}
ul.right {
  padding-top: 10px;
}

li.divider {
  height: 2.75rem;
}

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
  list-style-type: none;
  padding-top: 50px;
  font-size: 3em;
}

.menu-hover-lines li a.DoughnutSymbol {
  color: rgba(10, 10, 10, 0.5);
}

.menu-hover-lines li a.DoughnutsHorchata {
  padding: 0.75rem 0;
  padding-right: 30px;
  padding-left: 30px;
  color: rgba(10, 10, 10, 0.5);
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #1779ba;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: #0a0a0a;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}
